<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>
  <h1><%= title %> </h1>
  <p>Welcome to <%= title %> page</p>

  <img src="\Assets\images\ryan pt.PNG" pt.PNG alt="my image">
  <p>Hello, my name is Tsang Tsz Long, You can call me Ryan. I am from Hong Kong. Reading and cooking are my hobbies. I like to learn more about software engineering, so I decided to study at centennial college. I'm studying a software engineering technician course right now.</p>
  <p><a href="/project"><i class="fa-sharp fa-solid fa-paper-plane-top"></i>Next</a></p>
  <p>Go to Resume</p>
  <p><a href="/file/TszResume.pdf">Download here</a></p>
  <iframe src="/file/TszResume.pdf"></iframe>
<%- include partials/bottom_nav.ejs%> 

<%- include partials/footer.ejs%>