<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>
  <h1><%= title %> </h1>
  <p>Welcome to <%= title %> page</p>
  <p>Welcome ! I am <b>software engineer.</b> I apply analytic thinking to problems and find a pragmatic solution that isn't a quick fix, but a lasting value.</p>

  <a href="/about"><i class="fa-sharp fa-solid fa-paper-plane-top"></i>Next</a>
<%- include partials/bottom_nav.ejs%> 

<%- include partials/footer.ejs%>