<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>
  <h1><%= title %> </h1>
  <p>Welcome to <%= title %> page</p>
  <h2>1 Hotel management software.</h2>
  <img src="\Assets\images\p1.png" alt="project 1">
  <p>When I started learning about c# I created a mini hotel management software application. This mini hotel software application. Just on this in the console. The application only provides the name of the customer, whether the wounded are staying in and checking out or not.</p>

  <h2>2 Web movie database library.</h2>
  <img src="\Assets\images\p2.png" alt="project 2">
  <p>In my second semester at centennial college, I created a small website and database library for my assignment project. In this project, I'm walking alone. I have shown the movie's image, The description of the movie.</p>

  <h2>3 Grocery stocking application</h2>
  <img src="\Assets\images\p3.PNG" alt="project 3">
  <p>In last semester, I created a grocery stocking application for c #. This is a personal project So I don't have any group members. I also created a GUI For this application.</p>
  <a href="/services"><i class="fa-sharp fa-solid fa-paper-plane-top"></i>Next</a>
<%- include partials/bottom_nav.ejs%> 

<%- include partials/footer.ejs%>