<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>
  <h1><%= title %> </h1>
  <p>Welcome to <%= title %> page</p>
  <h2>General programming.</h2>
  <img src="\Assets\images\s1.jpg" alt="Services 1">
  <h2>Web development.</h2>
  <img src="\Assets\images\s2.png" alt="Services 2">
  <h2>Web design.</h2>
  <img src="\Assets\images\s3.png" alt="Services 3">
  <p><a href="/contact"><i class="fa-sharp fa-solid fa-paper-plane-top"></i>Next</a></p>
<%- include partials/bottom_nav.ejs%> 

<%- include partials/footer.ejs%>